<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <script src="./../node_modules/angularjs-slider/dist/rzslider.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="./../node_modules/angularjs-slider/dist/rzslider.css"/>

    <title>Nutrition</title>

</head>
<body ng-app="myapp" ng-controller="NutritionController as vm">
<script src="js/app.js" type="application/javascript"></script>
<script src="js/NutritionController.js" type="application/javascript"></script>
<script src="js/DataFactory.js" type="application/javascript"></script>
<script src="js/filter.js" type="application/javascript"></script>

<div>
    <h2>Welcome!</h2>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <!-- product context, image and adding product -->
        <div class="col-sm-5">
            <div ng-if="vm.chosenProduct.length > 0;">
                <div ng-repeat="product in vm.chosenProduct track by $index">
                    <!-- product context -->
                    <p style="color: dimgray">{{product.categoryName}} / {{product.subcategoryName}} / {{product.productName}}</p>
                    <h2>{{product.productName}}</h2>
                    <p>{{product.description}}</p>

                    <div class="row">
                        <div class="col-sm-8">
                            <!-- product image -->
                            <img ng-src="{{product.imageURI}}" style="max-width:100%; align-self: center">
                        </div>
                        <div class="col-sm-4" style="align-self: center">
                            <button type="button" class="button button2" ng-click="vm.removeProduct(product, $index)">Remove Product</button>
                        </div>
                    </div>

                    <hr>
                </div>
            </div>

            <br>

            <!-- add product -->
            <form name="addProduct" id="addProduct">
                <label for="selectProduct">
                    <b>Add Product:</b>
                </label>
                <select name="selectProduct" id="selectProduct"
                        ng-model="vm.productToAdd"
                        ng-options="product.productName for product in vm.availableProduct">
                </select>
                <br>
                <input type="submit" value="Add" ng-click="vm.addProduct()">
            </form>

        </div>

        <!-- serving and nutrition -->
        <div class="col-sm-7 nutrition" style="text-align: center;">
            <h2>Nutrition Information</h2>
            <!-- serving -->
            <div ng-repeat="product in vm.chosenProduct track by $index">
                <div ng-init="vm.setSlider(product, $index);">
                    <p><b>Product {{$index + 1}} ({{product.productName}})</b> Serving Size:
                        {{vm.sliders[$index].value}} {{product.sizes[0].unit}}</p>

                    <!-- color context for graph -->
                    <span style="color: black;">&#9724; {{product.productName|ellipsis:30}}</span>
                    <span style="color: transparent; text-shadow: 0 0 0 #0277BD;">&#9724; {{product.subcategoryName|ellipsis:30}}</span>
                    <span style="color: transparent; text-shadow: 0 0 0 #81D4FA;">&#9724; {{product.categoryName|ellipsis:30}}</span>

                    <rzslider style="max-width: 90%" rz-slider-model="vm.sliders[$index].value"
                              rz-slider-options="vm.sliders[$index].options"></rzslider>
                </div>
                <br>
            </div>

            <br>

            <!-- nutrition category label -->
            <div class="container-fluid"
                 ng-if="vm.chosenProduct.length > 0 && vm.isSelectedProd > 0">
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-9">
                        <p style="text-align: right; color: gray;">Recommended DV<sup>*</sup></p>
                    </div>
                    <div class="col-sm-1">
                        <p style="text-align: center; color: gray;">%DV<sup>*</sup></p>
                    </div>
                </div>


                <div ng-repeat="nutrient in vm.chosenProduct[0].sizeChosen.nutrition track by $index">
                    <div class="row" ng-repeat="product in vm.chosenProduct track by $index"
                         ng-if="product.isSizeSelected">
                        <div class="col-sm-2">
                            <p style="padding: 0; margin: 0;" ng-if="$index === 0"><b>{{nutrient.displayName}}</b></p>
                            <br ng-if="$index !== 0">
                            <span style="color: gray;" ng-if="vm.chosenProduct.length > 1">{{product.productName|ellipsis:13}}</span>
                        </div>
                        <div class="col-sm-9">
                            <rzslider class="custom-slider" rz-slider-model="vm.nutritionSlider[$index][$parent.$parent.$index].value"
                                      rz-slider-options="vm.nutritionSlider[$index][$parent.$parent.$index].options"></rzslider>
                        </div>
                        <div class="col-sm-1">
                            <br>
                            <span ng-style="{color: vm.getPercentColor(product, $parent.$parent.$index)}">
                                <b>{{vm.getDailyPercent(product, $parent.$parent.$index)}}</b>
                            </span>
                        </div>
                    </div>
                    <hr ng-if="nutrient.id !=='saturatedFat'">
                    <br ng-if="nutrient.id === 'saturatedFat'">
                    </div>
                </div>

                <div ng-if="vm.chosenProduct.length > 0 && vm.isSelectedProd > 0"
                     style="color:gray; font-size: 14px; text-align: left">
                    <sup>*</sup> The daily recommended value and percentage daily value is the average adult consumption that may not reflect individuals' difference
                </div>
            </div>

        </div>
</div>

</body>
</html>